<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark px-3">
        <span class="navbar-brand mb-0 h1">
            Worker Management System
        </span>
        <button class="btn btn-outline-light">Logout</button>
    </nav>
    <div class="row">
        <div class="col-md-2 bg-light vh-100 p-3">
            <h5 class="mb-4">Menu</h5>
            <div class="light-group">
                <a routerLink="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
                <a routerLink="/workers" class="list-group-item list-group-item-action">Workers</a>
                <a href="#" class="list-group-item list-group-item-action">Attendance</a>
                <a href="#" class="list-group-item list-group-item-action">Salary</a>
            </div>
        </div>
        <div class="col-md-10 p-4">
            <h2>Welcome</h2>
            <p class="text-muted">
                Worker Management System
            </p>
            <div class="row mt-4">
                <div class="col-md-3 mb-3">
                    <div class="card text-center shadow">
                        <div class="card-body">
                            <h5>Total Workers</h5>
                            <h2>25</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card text-center shadow">
                        <div class="card-body">
                            <h5>Present Today</h5>
                            <h2>20</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card text-center shadow">
                        <div class="card-body">
                            <h5>Absent Today</h5>
                            <h2>5</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card text-center shadow">
                        <div class="card-body">
                            <h5>Total Salary</h5>
                            <h2>1,50,000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
